<%= turbo_frame_tag :memberships do %>
  <p><%= @memberships.count %> members</p>
  <div class="flex mt-4">
    <% @memberships.each do |membership| %>
      <div class="w-1/2 py-2 flex gap-2 items-center">
        <%= avatar_for(membership.user, "w-8 h-8") %>
        <p><%= membership.user&.display_name %></p>
      </div>
    <% end %>
  </div>
<% end %>