<%= turbo_frame_tag "membership_modal" do %>
  <div data-controller="modal"  data-action="turbo:submit-end->modal#submitEnd click@window->modal#closeOutside">
    <div data-modal-target="modal" class="animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 99;">
      <!-- Modal Inner Container -->
      <div class="max-h-screen w-full max-w-lg relative">
        <button data-action="click->modal#hideModal" class="border border-transparent rounded-full shadow-sm text-gray-300 bg-white hover:text-gray-400 focus:outline-none absolute right-3 top-3" >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
        <!-- Modal Card -->
        <div class="m-1 bg-white rounded shadow">
          <div class="p-6" data-controller="tabs">
            <ul class="flex flex-wrap mb-4">
              <li class="mr-2 active-tab" data-action="click->tabs#change" data-tabs-target="tab">
                <a href="#" class="inline-block text-gray-800 rounded-t-lg pr-4 py-3 text-sm font-medium text-center">Add member</a>
              </li>
              <li class="mr-2" data-action="click->tabs#change" data-tabs-target="tab">
                <a href="#" class="inline-block text-gray-800 rounded-t-lg pr-4 py-3 text-sm font-medium text-center">All members</a>
              </li>
            </ul>
            <div data-tabs-target="field">
              <%= render "memberships/form", board_membership: @membership %>
            </div>
            <div data-tabs-target="field">
              <p><%= @memberships.count %> members</p>
              <div class="flex mt-4">
                <%= render partial: "memberships/membership", collection: @memberships %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
