<div class="max-w-6xl mx-auto mt-4">
  <h1>New board</h1>

  <div class="w-full md:w-1/2 mt-2">
    <%= render "form", board: @board %>
  </div>

  <br>

  <div>
    <%= link_to "Back to boards", boards_path %>
  </div>
</div>
