<div class="max-w-3xl mx-auto min-h-screen mt-2 bg-white py-10 px-3 sm:px-6 lg:px-8 space-y-3 md:space-y-4 shadow-md">
  <h1>New board</h1>

  <div class="w-full mt-2">
    <%= render "form", board: @board %>
  </div>

  <hr>

  <div>
    <%= link_to "Back to boards", boards_path %>
  </div>
</div>
