<div class="rounded-lg shadow-lg hover:shadow-xl bg-white aspect-w-4 aspect-h-3"> 
  <div class="flex flex-col">
    <% if embed.embeddable_type == "EmbedLink" %>
      <%= render 'embeds/embed_link', embed: embed %>
    <% else %>
      <%= render 'embeds/embed_image', embed: embed %>
    <% end %>
    <div class="text-gray-800 p-2 relative">
      <%= link_to '', [embed.board, embed], class: 'w-full h-full absolute' %>
      <p class="text-lg font-bold leading-6 "><%= embed.title %></p>
    </div>
  </div>

</div>
