<%= link_to [embed.board, embed], class: 'rounded-lg border border-indigo-500 bg-white shadow-sm space-y-2 aspect-[4/3]' do %>
  <p class="text-center text-xl font-bold leading-6 text-gray-800 mt-2"><%= embed.title %></p>
  <div class="text-center">Display media here</div>
<% end %>
