<div class="max-w-6xl mx-auto mt-4 px-2 lg:px-6 flex flex-col gap-4">
  <%= link_to @embed.board do %>
    <div class="flex items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-6 w-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"></path>
      </svg>
      <span>Board</span>
    </div>
  <% end %>
  <div class="block lg:flex lg:gap-4">
    <div class="w-full lg:w-3/5 lg:mr-3">
      <% if @embed.embeddable_type == "EmbedLink" %>
        <div class="aspect-w-16 aspect-h-9">
          <%= iframe_media_tag(@embed.embeddable.embed_link_url, class_names: "w-full") %>
        </div>
      <% else %>
        <div class="mx-auto">
          <%= image_tag @embed.embeddable.media_file, class: "max-w-full max-h-screen h-auto" %>
        </div>
      <% end %>
      <h1 class="my-3"><%= @embed.title %></h1>
    </div>
    <div>Comment or another embed</div>
  </div>
</div>
