<div class="mt-4 px-2">
  <h1><%= @embed.title %></h1>
  <div class="my-2 h-screen">
    <% if @embed.embeddable_type == "EmbedLink" %>
      <%= iframe_media_tag(@embed.embeddable.embed_link_url, class_names: "w-1/2 h-1/2") %>
    <% else %>
      <%= image_tag @embed.embeddable.media_file, class: "w-1/2 h-auto" %>
    <% end %>
  </div>
</div>
